*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #E1FFFF;
    font-family: Arial, sans-serif;
    background-color: #1A1A1E;
    font-family: 'Roboto', sans-serif;
}
nav{
    background: #15151A;
    height: 80px;
    width: 100%;
    margin-top: -18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

label.logo1{
    transition: color 1s;
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 100px;
}

span{
    color: #0085ff;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size: 17px;
    font-weight: 600;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    font-size: 20px;
    background: #15151A;
    transition: .5s;

}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;;
}

@media (max-width: 980px){
    label.logo1{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 1140px){
   .checkbtn{
    display: block;
   } 
   ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:#121218; 
    top: 80px;
    left : -100%;
    text-align: center;
   }
   nav ul li{
    display: block;
   }

   nav ul li a{
    font-size: 20px;
   }
   a:hover,a.active{
    background: none;
    /* color:#121218; */
   }
}



#btn1{
    /* margin-left: auto; */
    color: #E1FFFF;
    background-color: #0085ff;
    border-radius:13px ;
    border: none;
    font-size: 16px;
    width: 80px;
    height: 30px;
    font-weight: 540;
    transition: background-color 2s, color 2s;
}
#btn2 {
    /* margin-left: 20px;
    margin-right: 30px; */
    font-size: 15px;
    font-weight: 540;
    color: #E1FFFF;
    background-color: #0085ff;
    border-radius:13px ;
    border: none;
    width: 75px;
    height: 30px;
    transition: background-color 2s, color 2s;
}
.buttonclass{
    float: right;
}

/* new */

@media (max-width: 478px){
    .logo{
        font-size: 20px;
        margin-left: -100px;
    }
}

#third{
    width: 100%;
    height: 14%;
}
#heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
#tcard1{
    width: 300px;
    height:370px;
    background-color: #2D2D2D;
    font-size: 1rem;
    border-radius: 12px;
    font-weight: 800;
}

#crd{
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: center;
   gap: 30px;
}

#image img{
 height: 230px;
 width: 300px;
 object-fit:cover;
 border-radius: 12px 12px 0px 0px;
 
 
}
#tcard1 h2{
    position: relative;
    left: 2%;   
    font-size: large;
    font-weight: 800;
}

#org{
    width: 100%;
    display: flex;
    margin-top: -25px;
    margin-left: 10px;
    margin-bottom: 21px;
}
#org h3{
    margin-top: 38px;
    margin-left:6px ;
    font-size: 0.8rem;
    font-weight: 600;
}
#org h4{
    margin-left:100px ;
    font-size: small;
    font-weight: 600;   
    margin-top: 38px;
}
.timerx, .timery2, .timerz3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    width: 300.05px;
    font-weight: 700;
    font-size: 1rem;
    height: 30.4px;
    background-color: transparent;
    border-radius: 6px 6px 12px 12px;
    font-size: 15px;
    font-weight: bold; /* Alternatively, you can use 'bold' */
}

#hr{
    width: 50%;

}
#tbtn{
    margin-left: 75.2%;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 540;
    color: #E1FFFF;
    background-color: #0085ff;
    border-radius:13px ;
    border: none;
    width: 100px;
    height: 30px;
    transition: background-color 2s, color 2s;
}
#tbtn:hover{
    
        background-color: #e1ffff;
        color: #006fff;
    
}

#logo img{
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

#logo{
    height: 22px;
    width: 22px;
    /* background-color: #006; */
    border-radius: 4px;
    margin-left: 3px;
    margin-top: 35px;
}

/* @media screen and (max-width: 983px){
    #crd{
        display: flex;
        align-items: center;
        flex-direction: column;
    } */
/* } */
.buttonclass{
float: right;
margin-top: 24px;
}

@media screen and (max-width: 980px){
    #game-card{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
}
@media screen and (max-width: 607px){
    .buttonclass{
        display: none;
    }
}
/* previous */
#game-card {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 22px;
}

#gcard1 {
    width: 350px;
    height: 235px;
    background-color: #2D2D2D;
    border-radius: 12px;
}

#gimg{
   position: absolute;
    width: 350px;
max-height: 236px;
border-radius: 12px;
    z-index: 0;
}
.gimg1 {
    /* background-image: url("bgmi1.webp"); */
    object-fit: cover;
}

.gimg2 {
    background-image: url("ff.webp");
    object-fit: cover;
}

.gimg3 {
    background-image: url("valo.jpg");

    object-fit: cover;
}

#bgmi,#free-fire,#valorant{
    position: relative;
    color: #E1FFFF;
    background-color: #69B4FF;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    margin-top: 182px;
    margin-left: 5px;
    width: 80px;
    height: 30px;
    font-weight: 540;
    opacity:  85%;
    z-index: 1;
    /* filter: blur(1px); */
}

#game-card{
    display: flex;
    flex-wrap:wrap ;
}